<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb clone</title>
    <link rel="stylesheet" href="airbnb.css">
</head>
<body>
    <div>
        <div class="nav">
            <h2>Airbnb</h2>
            <ul>
                <li>Contact</li>
                <li>Services</li>
            </ul>
        </div>
        <!-- Listings -->

        <div class="container">
        <%for (listings of allListings){ %>
            <li>
                <a href="/listings/<%= listings._id %>">

                    <div class="card">
                        <img src="<%=listings.image.url%>" alt="" width="100%" height="230px">
                        <h4><%= listings.title %></h4>
                        <h4>Price: <%= listings.price %></h4>
                        <h3>Location: <%= listings.location %></h3>
                        <h3>Country: <%= listings.country %></h3>
                        
                        
                    </div>
                </a>
            </li>
                
                <%}%>
            </div>


    </div>
</body>
</html>