<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Qoura post</h1>
    <% for(post of posts){%>
        <div class="post">
            <h2>@ <%= post.username %></h2>
            <span>Id: 
                <%=  post.id %>
            </span>
            <p><%= post.content %></p>
            <a href="/posts/<%= post.id %>/edit">Edit post</a><br>
            <a href="/posts/<%= post.id %>">See in detail</a><br>
            <form method="post" action="/posts/<%= post.id %>?_method=DELETE" >
                <button>Delete</button>
            </form>
        </div>
    <% } %>

    <a href="/posts/new">New Post</a>
</body>
</html>