<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit chats</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
        <h3>Edit your chat : <%= chat._id %></h3>

        <p>
            This chat sent by <%= chat.from %> to <%= chat.to %>
        </p>

        <form action="/chats/<%= chat._id %>?_method=PUT" method="POST">
            <br>
            <label for="msg">Message:</label>
            <br>
            <textarea name="msg" id="msg" cols="30" rows="10"><%= chat.msg %></textarea>
            <br>
            <button class="btn">Edit</button>
        </form>
    </div>
</body>
</html>